<% layout("/layouts/boilerplate") %>

<body>
  <h1>Listing Details</h1>
  <ul>
    <li>ID: <%= listing._id %></li>
    <li>Title: <%= listing.title %></li>
    <li>Description: <%= listing.description %></li>
    <li>Price: &#8360; <%= listing.price.toLocaleString("en-PK") %></li>
    <li>Location: <%= listing.location %></li>
    <li>Country: <%= listing.country %></li>
    <li><img src="<%= listing.image %>" alt="" /></li>
  </ul>
  <br />
  <a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
  <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete this listing" />
  </form>
</body>
